/*CSS Doccument*/

.navbar-brand{
	display:flex;
	font-size:2em;
	color:white;
}

.col-hanghoa img{
	height:200px;
	width:200px;
}

.navbar-brand>img{
	margin:-15px 5px;
}
.navbar-fixed-top{
	background:green;
	padding:10px;
	border-bottom: white double 3px;
}

nav.navbar.navbar-default.navbar-fixed-top a {
    color: #FFF;
    transition: all linear .4s;
}


nav.navbar.navbar-default.navbar-fixed-top a:hover{
		background:white;
		color:green;
		border-radius:5px;
}

div {
	display:block;
}

.header {
	background:#F4AA30;
	padding:100px;	
	text-align:center;
}

.header img {
	margin:0px auto;	
	border:20px solid #C95443;
	border-radius:50%;
}

.tieude {
	font-size:3em;
	color:white;	
	display:inline-block;
	padding:20px 0 10px 0;
}
.welcome {
	font-size:2em;
	color:white;
	
}
hr {
	border-top:7px double white;
	width:50%;
}

h1 {
	text-align:center;
	font-weight:bold;
}

.tenHanghoa {
	vertical-align:middle;
	height:50px;
	font-size:15px;
	padding-left:0px;
	padding-right:0px;
	font-weight:bold;
}

.col-md-4 {
	text-align:center;
}

.body hr {
	margin-top:-5px;
	border-color:black;	
	/*width:40%;*/
}


.listhanghoa img {
	margin:10px auto;
	border-radius:10px;
	transition: all linear .1s;
}


.sideleft{
display:block;
padding-bottom:30px;
}

.btn{
	display:block;
	margin-bottom:2px;
	background:#F4AA30;
}

.list-group{
	position:
	width:200px;
	display:block;	
}

.khung{
	display:block;
	text-align:center;
	border-style:solid;
	border-color:#CD9210;
	border-radius:10px;
	padding-right:3px;
}
.footer{
	background:green;
	padding:5px;
	margin-top:30px;
	text-align:right;
	color:white;
}

.col-hanghoa{
	//text-align:center;
	//margin:auto 20px 20px;
}

.btn-dathang{
	margin:0px auto;
	width:150px;
}
.row{
	text-align:center;	
}

.list-group-hanghoa:hover{
	background:#B5B5B5;
	border-radius:5px;
}

#loginModal .modal-header{
	background-color:green;
	color:white;
}
#signupModal .modal-footer{
	text-align:left;
}
#signupModal .modal-header{
	background-color:green;
	color:white;
}
.table-giohang th {
	text-align:center;
}



