/* CSS Document */
body {
	background: #F57921;
	color:white;
	}
.dangnhap {
    width: 400px;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    background: orange;
    padding-bottom: 30px;
	margin-top: 50px;
}
.formgroup div{
	display:inline-block;
	padding-left:10px;
}
.formgroup {
		padding-bottom:15px;

	}

